body {
  background-color: #ffffff;
  font-size: "Open Sans", sans-serif;
  font-size: 13px;
}

.width-0 {
  padding: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  opacity: 0;
}

.skin-blue .main-header .logo {
  background-color: #1c1c1c;
  color: #1a1414;
  font-weight: normal;
}

.skin-blue .main-header .logo:hover {
  background-color: #1c1c1c;
}

.skin-blue .main-header .navbar {
  background-color: #fbc100;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #ebb50f;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #1a1414;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #fbc100;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
  color: #1a1414 !important;
  background-color: #fbc100 !important;
}

.content-wrapper, .right-side {
  background-color: #f5f0f0;
}

.main-sidebar, .logo {
  position: fixed;
}

.form-inline-radio .radio {
  margin-left: 18px;
}

.content.body {
  padding-bottom: 72px;
}

.text-small {
  font-size: 0.8em;
}

.text-hidden {
  text-indent: -1000px;
}

.billitems_in_bill .btn-primary {
  display: none;
}

#products_filter {
  display: none;
}

#products tr {
  cursor: pointer;
}

#products tr:hover td {
  background-color: rgba(241, 250, 194, 0.54);
}

tr[data-nulled] {
  cursor: not-allowed !important;
}

tr[data-nulled] td, tr[data-nulled]:hover td {
  background-color: rgba(250, 27, 37, 0.08) !important;
}

tr[data-status="1"] td, tr[data-status="1"]:hover td {
  background-color: rgba(250, 27, 37, 0.12) !important;
}

tr[data-status="2"] td, tr[data-status="2"]:hover td {
  background-color: rgba(250, 143, 41, 0.2) !important;
}

tr[data-status="3"] td, tr[data-status="3"]:hover td {
  background-color: rgba(13, 225, 5, 0.2) !important;
}

#search_histories .btn-sendved, #search_histories .btn-sended {
  display: none;
}

#search_histories tr[data-status="1"] .btn-sendved, #search_histories tr[data-status="2"] .btn-sendved {
  display: inline-block;
}

#search_histories tr[data-status="2"] .btn-sended {
  display: inline-block;
}

#search_histories td:last-child {
  text-align: right;
}

.btn-logout {
  padding: 15px;
  background: none;
  border: none;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-logout:hover {
  background-color: #ebb50f;
}

.form-element-helptext .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
  font-style: normal;
}

#search_histories th:first-child:after {
  display: none;
}

#search_histories tr td:nth-child(2) {
  white-space: nowrap;
}

#search_histories td .btn-primary {
  display: none;
}

#search_histories_wrapper {
  position: relative;
}

.search_histories_modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.search_histories_modal .modal-dialog {
  width: 80%;
}

.sh_desc {
  margin-right: 24px;
  display: inline-block;
  font-size: 14px;
}

.content.body .label {
  white-space: normal;
}

.prompt_requestadd__content {
  margin-top: 24px;
}

/*# sourceMappingURL=app.css.map */
