@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: #f5f0f0
}

.app__navbar {
    background-color: #1a1414;
    opacity: 0;

    & .navbar-brand {
    	height: auto;
    }
}

.auth_panel {

	& .panel-heading {
		background-color: #1a1414;
	}

	& .btn-warning {
		background-color: #fbc100;
		color:#1a1414;
		border-radius: 2px;
	}

	& input.form-control {
		border-radius: 2px;
	}
}