table#products {
	max-width: 100%!important;
	font-size: 12px;
}


[data-type="display-actions"].panel-footer {
	position: fixed;
	bottom: 0;
	width:100%;
}
[data-type="display-actions"].panel-footer .action-select {
	float:right;
	margin-right:12px
}

.panel {
	margin-bottom: 108px;
}

.selected_wrapper {
	padding: 6px 12px;
	font-size: 14px;
	color:#888;
	display: inline-block;
}

.column_text_duplicate {
	display: block;
	margin-top:6px;
	color:#777;
}

.import_products_actions .btn {
	color:white;
}
.import_products_actions .btn i {
	min-width: 16px;
}

.import_products_extension .btn {
	color:white;
}

.panel-heading {
	overflow:hidden;
}

.import_products_extension__tabs {
	margin-right:48px;
}
.import_products_extension__tabs .btn._current {
	background:#fff;
}

[data-nulled] input, [data-nulled] .btn {
	display: none;
}

#products_wrapper {
	position: relative;
}

#products_wrapper._loading:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	background-color: rgba(255,255,255,0.6);
	z-index: 9998;
}
#products_wrapper._loading:after {
	content: "\f1ce";
	position: absolute;
	top:24px;
	left:50%;
	z-index: 9999;
	margin-left: -0.5em;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 5em;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.productssearch .form-group {
	margin-bottom: 12px;
}

#products div.dataTables_processing {
	top: 10%!important;
}